.card {
  font-family: "Inter", sans-serif;

  background: #0b0e12;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
}

// Card.scss
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden; // Чтобы содержимое не выходило за границы

  .card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }

  .card-content {
    width: 100%;
    padding: 10px;
    background-color: #0b0e12;
    color: #fff;
    /* Add more styling as needed */
  }
}

@media (max-width: 450px) {
  .card .card-header {
    display: flex;
    flex-direction: column;
  }
}
