/* Стили для SelectItem */
.select-item {
  color: #fff;

  padding: 10px;
  font-size: 16px;
  background-color: #0f1318;
  border: none;
  cursor: pointer;
}

.select-item:hover {
  background-color: #171b21;
}
